[]interface {}/* len=38 cap=38 */{
    nil,
    []int{},
    []interface {}/* len=4 cap=4 */{
        true,
        false,
        uintptr(23),
        float32(100.12111),
    },
    true,
    10,
    int8(2),
    'd',
    100.121111133,
    complex64(1+2i),
    1+2i,
    [3]int{
        1,
        2,
        0,
    },
    make(chan int)/* {{.ch1}} */,
    make(chan string, 3)/* {{.ch2}} */,
    make(chan struct {})/* {{.ch3}} */,
    (func(string) int)(nil)/* {{.fn}} */,
    map[interface {}]interface {}/* len=3 */{
        `"test"`: 10,
        "a": 1,
        (interface {})(nil)/* {{.ref}} */: 1,
    },
    unsafe.Pointer(uintptr({{.ptr}})),
    struct { Int int; str string; M map[int]int }{
        Int: 10,
        str: "ok",
        M: map[int]int{
            1: 32,
        },
    },
    gop.Base64("YWHi"),
    []byte(`bytes
	bytes`),
    []byte(`long long long long string`)/* len=26 */,
    byte('a'),
    byte(0x1),
    '天',
    `long long long long string`/* len=26 */,
    `
test`,
    "" +
        "	\n" +
        "`",
    gop.Ptr("test").(*string),
    (*struct { Int int })(nil),
    &struct { Int int }{
        Int: 0,
    },
    &map[int]int/* len=2 */{
        1: 2,
        3: 4,
    },
    &[]int/* len=2 cap=2 */{
        1,
        2,
    },
    &[2]int{
        1,
        2,
    },
    gop.Ptr([]byte("\x01\x02")).(*[]uint8),
    gop.Time(`2021-08-28T08:36:36.807908+08:00`, 63765707796),
    gop.Duration("1h0m0s"),
    gop.JSONStr(map[string]interface {}{
        "a": 1.0,
    }, `{"a": 1}`),
    gop.JSONBytes(map[string]interface {}{
        "a": 1.0,
    }, `{"a": 1}`),
}