<36>[]interface {}<39><37>/* len=38 cap=38 */<39>{
    <31>nil<39>,
    <36>[]int<39>{},
    <36>[]interface {}<39><37>/* len=4 cap=4 */<39>{
        <34>true<39>,
        <34>false<39>,
        <36>uintptr<39>(<32>23<39>),
        <36>float32<39>(<32>100.12111<39>),
    },
    <34>true<39>,
    <32>10<39>,
    <36>int8<39>(<32>2<39>),
    <33>'d'<39>,
    <32>100.121111133<39>,
    <36>complex64<39>(<32>1+2i<39>),
    <32>1+2i<39>,
    <36>[3]int<39>{
        <32>1<39>,
        <32>2<39>,
        <32>0<39>,
    },
    <35>make<39>(<34>chan<39> <36>int<39>)<37>/* {{.ch1}} */<39>,
    <35>make<39>(<34>chan<39> <36>string<39>, <32>3<39>)<37>/* {{.ch2}} */<39>,
    <35>make<39>(<34>chan<39> <36>struct {}<39>)<37>/* {{.ch3}} */<39>,
    (<36>func(string) int<39>)(<31>nil<39>)<37>/* {{.fn}} */<39>,
    <36>map[interface {}]interface {}<39><37>/* len=3 */<39>{
        <33>`"test"`<39>: <32>10<39>,
        <33>"a"<39>: <32>1<39>,
        (<36>interface {}<39>)(<31>nil<39>)<37>/* {{.ref}} */<39>: <32>1<39>,
    },
    <36>unsafe.Pointer<39>(<36>uintptr<39>(<32>{{.ptr}}<39>)),
    <36>struct { Int int; str string; M map[int]int }<39>{
        Int: <32>10<39>,
        str: <33>"ok"<39>,
        M: <36>map[int]int<39>{
            <32>1<39>: <32>32<39>,
        },
    },
    <35>gop.Base64<39>(<33>"YWHi"<39>),
    <36>[]byte<39>(<33>`bytes<39>
<33>	bytes`<39>),
    <36>[]byte<39>(<33>`long long long long string`<39>)<37>/* len=26 */<39>,
    <36>byte<39>(<33>'a'<39>),
    <36>byte<39>(<33>0x1<39>),
    <33>'天'<39>,
    <33>`long long long long string`<39><37>/* len=26 */<39>,
    <33>`<39>
<33>test`<39>,
    <33>"" +<39>
<33>        "	\n" +<39>
<33>        "`"<39>,
    <35>gop.Ptr<39>(<33>"test"<39>).(<36>*string<39>),
    (<36>*struct { Int int }<39>)(<31>nil<39>),
    &<36>struct { Int int }<39>{
        Int: <32>0<39>,
    },
    &<36>map[int]int<39><37>/* len=2 */<39>{
        <32>1<39>: <32>2<39>,
        <32>3<39>: <32>4<39>,
    },
    &<36>[]int<39><37>/* len=2 cap=2 */<39>{
        <32>1<39>,
        <32>2<39>,
    },
    &<36>[2]int<39>{
        <32>1<39>,
        <32>2<39>,
    },
    <35>gop.Ptr<39>(<36>[]byte<39>(<33>"\x01\x02"<39>)).(<36>*[]uint8<39>),
    <35>gop.Time<39>(<33>`2021-08-28T08:36:36.807908+08:00`<39>, <32>63765707796<39>),
    <36>gop.Duration<39>(<33>"1h0m0s"<39>),
    <35>gop.JSONStr<39>(<36>map[string]interface {}<39>{
        <33>"a"<39>: <32>1.0<39>,
    }, <33>`{"a": 1}`<39>),
    <35>gop.JSONBytes<39>(<36>map[string]interface {}<39>{
        <33>"a"<39>: <32>1.0<39>,
    }, <33>`{"a": 1}`<39>),
}