name: Go
on: [push]
jobs:

  test:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/setup-go@v2
      with:
        go-version: 1.14

    - uses: actions/checkout@v2

    - name: lint
      run: go run github.com/ysmood/golangci-lint

    - name: test
      run: |
        go test -race -coverprofile=coverage.txt
        go run github.com/ysmood/got/cmd/check-cov

