name: Go
on: [push]
jobs:

  test:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - uses: actions/checkout@v2

    - name: lint
      run: go run github.com/ysmood/golangci-lint@latest

    - name: test
      env:
        TERM: xterm-256color
      run: |
        go test -race -coverprofile=coverage.out ./...
        go run ./cmd/check-cov

